<div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <h1>My Organizer</h1>
                <p>My Organizer app allows to organize tasks by spliting them into three categories: To do, In Progress and
                    Done</p>
            </div>
            <div class="row">
                <div class="searchsection">
                    <p>Today:
                        <strong id="date">{{currentDate}}</strong>
                    </p>
                    <input type="text" ng-model="searchKeyword" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
</div>